n8n Workflows/cpb_jobline_scrape.json
{
  "name": "CPB Jobline Scrape - Automatic",
  "nodes": [
    {
      "parameters": {
        "url": "=https://cpb.org/jobline/filtered/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        0
      ],
      "id": "44882ca3-f5da-4a91-88ac-2d0b6d5a8449",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "Title",
              "cssSelector": "h3.field-content",
              "returnArray": true
            },
            {
              "key": "City",
              "cssSelector": ".views-field-city",
              "returnArray": true
            },
            {
              "key": "Organization",
              "cssSelector": ".views-field-field-cpb-organization",
              "returnArray": true
            },
            {
              "key": "Posted",
              "cssSelector": ".views-field-changed",
              "returnArray": true
            }
          ]
        },
        "options": {
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        320,
        0
      ],
      "id": "568fbfea-a399-4e2b-83f4-dd3c98396bea",
      "name": "HTML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Title, City, Organization, Posted",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        480,
        0
      ],
      "id": "7ac9b2ed-eea1-40be-af13-bac70af6c6be",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.Posted }}",
        "format": "yyyy-MM-dd",
        "outputFieldName": "Posted",
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "2481c6bf-7f41-408d-bf9b-c0b7a7545101",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        980,
        0
      ],
      "id": "d5e58b9d-9698-4439-8cdd-87501b08c8c7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "countUnique",
              "field": "id"
            }
          ]
        },
        "options": {
          "outputFormat": "separateItems"
        }
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1200,
        -120
      ],
      "id": "b358894f-405a-4662-9910-e16b42d37c29",
      "name": "Summarize"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fdafcc77-0530-40dd-b197-34b935a0815d",
              "name": "Title",
              "value": "={{ $json.Title.replace(/\\[\\/jobline\\/.+\\/.+/g,\"\") }}",
              "type": "string"
            },
            {
              "id": "3470bfa9-ccc9-42c8-b266-e15e463e1cc7",
              "name": "Posted",
              "value": "={{ $json.Posted.replaceAll(\"Posted: \",\"\") }}",
              "type": "string"
            },
            {
              "id": "3750b623-9804-4b00-bd56-bd4be71ad2a6",
              "name": "City",
              "value": "={{ $json.City.replace(/(\\w+)\\: /,\"\") }}",
              "type": "string"
            },
            {
              "id": "c2d1864d-49a6-46a8-8efd-929df14924fe",
              "name": "State",
              "value": "={{ $json.City.replace(/\\: .+/,\"\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        0
      ],
      "id": "cc6a332f-1226-461f-9f4f-50a9265800de",
      "name": "Field Cleanup"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cpb_jobline",
          "mode": "list",
          "cachedResultName": "cpb_jobline"
        },
        "where": {
          "values": [
            {
              "column": "Title",
              "value": "={{ $json.Title }}"
            },
            {
              "column": "Posted",
              "value": "={{ $json.Posted }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1200,
        20
      ],
      "id": "aeede8f3-12dc-4583-909b-674a7f30fc69",
      "name": "Read Postgres Data",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "u04TXJ46JpyYpj0y",
          "name": "Postgres \"Testing\""
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Title }}",
                    "rightValue": "={{ $('Loop Over Items').item.json.Title }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3ef88277-c249-4f4b-ad68-00685342bc5c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Existing Listing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "45b3bf35-3f9f-45bc-a50b-e2e0952dc304",
                    "leftValue": "={{ $json.Title }}",
                    "rightValue": "={{ $('Loop Over Items').item.json.Title }}",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New Listing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1420,
        20
      ],
      "id": "b69feb52-f02a-45a8-8520-fce76fa54e69",
      "name": "Check if Existing"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cpb_jobline",
          "mode": "list",
          "cachedResultName": "cpb_jobline"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Loop Over Items').item.json.Title }}",
            "Organization": "={{ $('Loop Over Items').item.json.Organization }}",
            "City": "={{ $('Loop Over Items').item.json.City }}",
            "State": "={{ $('Loop Over Items').item.json.State }}",
            "Posted": "={{ $('Loop Over Items').item.json.Posted }}",
            "Source": "CPB Jobline"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Organization",
              "displayName": "Organization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Posted",
              "displayName": "Posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1620,
        20
      ],
      "id": "1d5ba808-181d-41c7-8360-3995779c22ab",
      "name": "Insert New Data",
      "credentials": {
        "postgres": {
          "id": "u04TXJ46JpyYpj0y",
          "name": "Postgres \"Testing\""
        }
      }
    },
    {
      "parameters": {
        "userKey": "xxx",
        "message": "=Scraped {{ $json.unique_count_id }} listings from CPB Jobline.",
        "priority": 0,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        1780,
        -120
      ],
      "id": "40fc84fd-b6f3-4a65-948c-57e3712d8fa8",
      "name": "Completion Message",
      "credentials": {
        "pushoverApi": {
          "id": "lvWV8GdfUSE2yn1T",
          "name": "Pushover account"
        }
      }
    },
    {
      "parameters": {
        "path": "eabbc3bb-792c-45fb-9899-79ee3d2d5efa",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -140
      ],
      "id": "6818ba32-bb30-478b-b867-b2633b083cb0",
      "name": "Webhook",
      "webhookId": "eabbc3bb-792c-45fb-9899-79ee3d2d5efa"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "a90f6d7b-41e4-471d-9857-c0811241494d",
      "name": "Sundays, Midnight"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Field Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Postgres Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Completion Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Field Cleanup": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Postgres Data": {
      "main": [
        [
          {
            "node": "Check if Existing",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Check if Existing": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert New Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert New Data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sundays, Midnight": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4fc68c25-3a29-44ef-988d-07974acc727e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b8d95c0d13d61a57cc9561e9361014cbef97e03bd799e49df93787ddb9d2be7"
  },
  "id": "QBjTJ7N3yvKtjwoL",
  "tags": [
    {
      "createdAt": "2025-06-06T15:11:13.999Z",
      "updatedAt": "2025-06-06T15:11:13.999Z",
      "id": "AKG78QZeMLNbIaft",
      "name": "CPB"
    }
  ]
}